<form class="search-form" id="search-form">
<b class="search-info">At least 3 letters + [Enter] to start new search:</b>
  <input
    type="text"
    name="query"
    autocomplete="off"
    placeholder="Search images..."
  />
</form>